body {
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            height: 100vh; /* Chiều cao toàn màn hình */
        }
        .sidebar {
            width: 25%; /* Chiếm 30% màn hình */
            background-color: #003366;
            color: #FFFFFF; /* Màu chữ trong sidebar */
            padding: 20px;
        }
        .sidebar h2 {
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #34495e;
            padding-bottom: 10px;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        .sidebar ul li {
            margin: 15px 0;
        }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            font-size: 23px;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .sidebar ul li a:hover {
            background-color: #777777;/* Di chuyen chuot do la no dam len */
        }

        .content {
            width: 75%; /* Chiếm 70% màn hình */
            background-color: #f4f4f4; /* Màu nền content */
            padding: 20px;
        }

        .btn-custom {
            width: bold;
            text-decoration: none;
            color: black;
            border: none;
            background: none;
            text-align: center;
            white-space: nowrap; /* Ngăn văn bản xuống dòng */
            font-size: 25px;
            padding: 5;
            margin: 5;
        }