
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            height: 100vh; /* Chiều cao toàn màn hình */
        }
        .sidebar {
            width: 25%; /* Chiếm 30% màn hình */
            background-color: #003366;
            color: #FFFFFF; /* Màu chữ trong sidebar */
            padding: 20px;
        }
        .sidebar h2 {
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #34495e;
            padding-bottom: 10px;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        .sidebar ul li {
            margin: 15px 0;
        }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            font-size: 23px;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .sidebar ul li a:hover {
            background-color: #777777;/* Di chuyen chuot do la no dam len */
        }

        .content {
            width: 75%; /* Chiếm 70% màn hình */
            background-color: #f4f4f4; /* Màu nền content */
            padding: 20px;
            font-size: 15px;
        }

        .content h2 {
            text-align: center;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            width: 100%;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .form-buttons .save {
            background-color: #5064e2;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-buttons .exit {
            background-color: #ccc;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }