{% extends 'layout/base_nv.html' %}

{% block title %}Điều chỉnh{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/dieuchinhlop.css"/>
{% endblock %}

{% block content %}

<h2>ĐIỀU CHỈNH LỚP HỌC</h2>

<div class="form-group">
    <div class="row">
        <div class="col-md-9">
            <input type="text" class="form-control" id="timkiemhs"
                   aria-describedby="emailHelp" placeholder="Nhập vào tên học sinh cần điều chỉnh">

        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary me-6" onclick="Timkiemhs()">Tìm kiếm</button>
        </div>
        <div id="result_timkiemhs" style="display:none">
            <h3><span style="font-size: 18px;">Danh sách học sinh</span></h3>
            <table class="table table-bordered mt-3" style="width: 100%; font-size: 14px;" id="table_result">
                <tr>
                    <th>Mã HS</th>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                </tr>
            </table>
        </div>
    </div>
    <div id="no_result_timkiemhs"></div>
    <h3><span style="font-size: 18px;">Danh sách lớp học còn trống</span></h3>
    <table class="table table-bordered mt-3 " style="width: 100%; font-size: 12px;">
        <thead>
        <tr>
            <th>ID lớp</th>
            <th>Tên lớp</th>
        </tr>
        </thead>
        <tbody>
        {% for c in classes %}
        <tr>
            <td>{{c.lop_id}}</td>
            <td>{{c.tenLop}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="Chuyenlop"></div>
    <div class="row">

        <div class="col-md-4">
            <label class="form-label">ID học sinh</label>
            <input type="text" class="form-control" id="hs_id" placeholder="" name="hs_id">
        </div>

        <div class="col-md-4">
            <label class="form-label">ID lớp chuyển đến</label>
            <input type="text" class="form-control" id="lop_id" placeholder="" name="lop_id">

        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary me-6" onclick="Chuyenlop()" id="btn_chuyenlop">
                Chuyển
            </button>
        </div>
    </div>
</div>
{% endblock %}
