{% extends 'layout/base_nv.html' %}

{% block title %}Danh sách lớp{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/dieuchinhlop.css"/>
{% endblock %}

{% block content %}


<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#" onclick="xuatloptruoc()">Previous</a></li>
    {% for c in classes %}
    <li class="page-item" id="{{c.lop_id}}"><a class="page-link" href="#" onclick="Xuatlop({{c.lop_id}})"
                                               onload="Xuatlop(1)">{{c.tenLop}}</a></li>
    {% endfor %}
    <li class="page-item"><a class="page-link" href="#" onclick="xuatloptip()">Next</a></li>
</ul>

<!--<div class="mb-6 mt-3 row container text-center" style="display: none" id="print_class">-->
<h2>DANH SÁCH LỚP HỌC</h2>

<div class="row container text-center" id="print_class">
    <label class="form-label col-md-6" id="tenLop"></label>
    <label class="form-label col-md-6" id="quantity"></label>
</div>
<table class="table table-bordered" id="table_print_class">
    <thead>
    <tr>
        <th>STT</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Năm sinh</th>
        <th>Địa chỉ</th>
    </tr>
    </thead>
</table>

<div id="no_student"></div>
{% endblock %}