{% extends 'layout/base_nv.html' %}


{% block title %}Tiếp nhận{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/tiepnhan.css"/>
{% endblock %}

{% block content %}
<h2>TIẾP NHẬN HỌC SINH</h2>
<form method="post" action="/ThemHocSinh">
    {% if err_msg == "Lưu thành công" %}
    <div class="alert alert-success">{{err_msg}}</div>
    {% elif err_msg %}
    <div class="alert alert-danger">{{err_msg}}</div>
    {% endif %}
    <div class="form-group">
        <label for="tenHs">Họ và tên:</label>
        <input type="text" id="tenHs" name="tenHs" placeholder="Nhập họ và tên" required>
    </div>
    <div class="form-group">
        <label class="form-label">Ngày sinh</label>
        <input type="date" class="form-control" id="ngaysinh" placeholder="dd/mm/yyyy" name="ngaysinh">
    </div>
    <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại" required>
    </div>
    <div class="form-group">
        <label class="form-label">Giới tính</label>
        <select id="gioiTinh" name="gioiTinh" class="form-control">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>
    <div class="form-group">
        <label for="diaChi">Địa chỉ:</label>
        <input type="text" id="diaChi" name="diaChi" placeholder="Nhập địa chỉ" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Nhập email" required>
    </div>


    <div class="form-group">
        <label class="form-label col-md-4">Chọn số khối </label>
        <select id="khoi" name="khoi" class="form-control">
            <option value="1">10</option>
            <option value="2">11</option>
            <option value="3">12</option>
        </select>
    </div>
    <div class="form-buttons">
        <button type="submit" class="save">Lưu</button>
        <a href="/tiepnhan" class="exit"
           style="text-decoration: none; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">Thoát</a>
    </div>

</form>

{% endblock %}
