{% extends 'layout/base_admin.html' %}

{% block title %}Admin{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/nhanvien.css"/>
{% endblock %}



<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% block body %}
<h1 class="text-center">Báo cáo thống kê môn học</h1>

<div class="row container">
    <label class="form-label col-md-6 mt-2 mb-2">Chọn môn học</label>
    <select id="id_subject" name="id_subject" class="form-control col-md-6 mt-2 mb-2">
        {% for s in subjects %}
        <option value="{{s.monHoc_id}}">{{s.tenMH}}</option>
        {% endfor %}
    </select>
    <label class="form-label col-md-6 mt-2 mb-2">Chọn học kỳ</label>
    <select id="hocki_id" name="hocki_id" class="form-control col-md-6 mt-2 mb-2">
        {% for s in semesters %}
        <option value="{{s.hocki_id}}">{{s.tenHK}}</option>
        {% endfor %}
    </select>
</div>
<button type="submit" class="btn btn-primary ms-4 mt-3 mb-3" onclick="Thongkediem()">Thống kê</button>

<div class="row" id="result" style="display:none">
    <div class="col-md-8">
        <div class="mb-3 mt-3 text-center fs-3">BÁO CÁO TỔNG KẾT MÔN HỌC</div>
        <div class="row container mb-3 mt-3">
            <div class="col-md-5" id="monhoc"></div>
            <div class="col-md-3" id="hocki"></div>
            <div class="col-md-4" id="schoolyear"></div>
        </div>
        <table class="table table-bordered table-hover" id="table_result">
            <tr>
                <th>STT</th>
                <th>Lớp</th>
                <th>Sĩ số</th>
                <th>Số lượng đạt</th>
                <th>Tỷ lệ</th>
            </tr>
        </table>
    </div>
    <div class="" style="height: 400px">
        <label class="form-label col-md-6 mt-2 mb-2">Chọn loại biểu đồ</label>
        <select id="select_chart" name="select_chart" class="form-control col-md-6 mt-2 mb-2">
            <option value="bar">bar</option>
            <option value="pie">pie</option>
            <option value="doughnut">doughnut</option>
            <option value="line">line</option>
        </select>
        <button type="submit" class="btn btn-primary ms-4 mt-3 mb-3" onclick="drawChart()">Vẽ biểu đồ</button>
        <canvas id="chart"></canvas>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    add_column = 0
    result_statistics = {}
    check = false
    let myChart;
    function statisticsScore(){
        fetch("/api/statisticsScore", {
            method: "post",
            body: JSON.stringify({
                'id_semester': document.getElementById('id_semester').value,
                'id_subject': document.getElementById('id_subject').value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function(res) {
            return res.json();
        }).then(function(data) {
            var result = document.getElementById('result')
            result.style.display = 'inline'
            subject = document.getElementById('subject')
            subject.innerText = `Môn học: ${data[0].subject}`
            semester = document.getElementById('semester')
            semester.innerText = `Học kỳ: ${data[0].semester}`
            schoolyear = document.getElementById('schoolyear')
            schoolyear.innerText = `${data[0].schoolyear}`
            table_result = document.getElementById('table_result')
            result_statistics = data

            for(var i = 0; i < add_column; i++)
            table_result.deleteRow(1)

            add_column = data[0].quantity

            for(var i = 1; i <= data[0].quantity; i++)
            {
                var row = table_result.insertRow()
                row.insertCell().innerText = i
                row.insertCell().innerText = data[i].class
                row.insertCell().innerText = data[i].quantity_student
                row.insertCell().innerText = data[i].quantity_passed
                row.insertCell().innerText = `${data[i].rate}%`
            }
        });
    }

    function drawChart() {
          const ctx = document.getElementById('chart');
          let data = [];
          let labels = [];
          let bgColors=[];

          for(var i = 0; i < result_statistics[0].quantity; i++)
          {
              labels.push(`${result_statistics[i+1].class}`)
              data.push(result_statistics[i+1].quantity_passed);
              r=parseInt(Math.random()*255)
              g=parseInt(Math.random()*255)
              b=parseInt(Math.random()*255)
              bgColors.push(`rgba(${r},${g},${b},1)`)
          }

          if(check == true)
            myChart.destroy()
          else
            check = true

          myChart = new Chart(ctx, {
            type: document.getElementById('select_chart').value,
            data: {
              labels: labels,
              datasets: [{
                label: '# Số lượng đạt',
                data: data,
                borderWidth: 1,
                backgroundColor: bgColors,
                width:'500',
                height: '500'
              }]
            },
            option: {
                responsive: true,
                maintainAspectRatio: false
            }
          });
    }
</script>
{% endblock %}