{% extends 'staff.html' %}

{% block staff %}

<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#" onclick="printClassPrevious()">Previous</a></li>
    {% for c in classes %}
    <li class="page-item" id="{{c.lop_id}}"><a class="page-link" href="#" onclick="printClass({{c.lop_id}})" onload="printClass(1)">{{c.tenLop}}</a></li>
    {% endfor %}
    <li class="page-item"><a class="page-link" href="#" onclick="printClassNext()">Next</a></li>
</ul>

<div class="mb-6 mt-3 row container text-center" style="display: none" id="print_class">
    <div class="mb-3 mt-3 text-center fs-3">DANH SÁCH LỚP</div>
    <div class="row container text-center">
        <label class="form-label col-md-6" id="tenLop"></label>
        <label class="form-label col-md-6" id="quantity"></label>
    </div>
    <table class="table table-bordered" id="table_print_class">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>Địa chỉ</th>
        </tr>
    </table>
</div>

<div id="no_student"></div>


{% endblock %}
