{% extends 'teacher.html' %}

{% block teacher %}


<div class="row container">
    <label class="form-label col-md-4">Chọn lớp</label>
    <select id="lop_id" name="lop_id" class="form-control col-md-4">
        {% for c in classes %}
        <option value="{{c.lop_id}}">{{c.tenLop}}</option>
        {% endfor %}
    </select>
    <label class="form-label col-md-4">Chọn năm học</label>
    <select id="hocki_id" name="hocki_id" class="form-control col-md-4">
        <option value="1">Năm học 2020-2021</option>
        <option value="3">Năm học 2021-2022</option>
        <option value="5">Năm học 2022-2023</option>
        <option value="7">Năm học 2023-2024</option>
    </select>
</div>
<button type="submit" class="btn btn-primary ms-4 mt-3 mb-3" onclick="printScores()">Xuất điểm</button>

<div id="result" style="display:none">
    <h1 class="text-center">BẢNG ĐIỂM MÔN HỌC</h1>
    <div id="schoolyear" class="text-center"></div>
    <table id="table_result" class="table table-hover table-bordered">
        <tr>
            <td>STT</td>
            <td>Họ tên</td>
            <td>Lớp</td>
            <td>Điểm TB HK1</td>
            <td>Điểm TB HK2</td>
        </tr>
    </table>
</div>


{% endblock %}