
<div class="mt-4 p-5 bg-primary text-white rounded text-center">
    <span class="h1">Hệ thống quản lý học sinh trường THPT Nguyễn Thượng Hiền</span>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">QUẢN LÝ HỌC SINH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="/">Chào {{ current_user.username }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="/logout">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="/login">Đăng nhập</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>