{% extends 'teacher.html' %}

{% block teacher %}

<div class="row container">

    <label class="form-label col-md-6">Chọn lớp</label>
    <div class="cod-md-6">
        <select id="searchclass" name="searchclass" class="form-control">
            {% for c in classes %}
            <option value="{{c.lop_id}}">{{c.tenLop}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row container mb-3 mt-3 text-center">
    <div class="col-md-6 row container">
        <label class="form-label col-md-4">Chọn số cột 15 phút</label>
        <div class="col-md-8">
            <select id="num_row_15m" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 row container">
        <label class="form-label col-md-4">Chọn số cột 1 tiết</label>
        <div class="col-md-8">
            <select id="num_row_45m" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary ms-4 mt-3 mb-3" onclick="searchClass()" id="bt1">Tìm kiếm</button>

<div style="display: none" class="table_score">
    <h2 class="text-center">Bảng điểm môn học</h2>
    <h3 class="text-center" id="tenLop"> </h3>
    <div class="row container mb-3 mt-3 text-center">
        <div class="col-md-6 row container">
            <label class="form-label col-md-4">Môn học</label>
            <div class="col-md-8">
                <select id="monHoc_id" name="monHoc_id" class="form-control">
                    {% for s in subjects %}
                    <option value="{{s.monHoc_id}}">{{s.tenMH}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6 row container">
            <label class="form-label col-md-4">Học kỳ</label>
            <div class="col-md-8">
                <select id="hocki_id" name="hocki_id" class="form-control">
                    {% for s in semesters %}
                    <option value="{{s.hocki_id}}">{{s.tenHK}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <table class="table" id="input_score">
            <tr id="table_col">
                <th>ID</th>
                <th>Họ tên</th>
            </tr>
        </table>
    </div>
</div>

<button type="submit" class="btn btn-primary ms-4 mt-3 mb-3 table_score" style="display: none" onclick="saveScores()">Lưu điểm
</button>

{% endblock %}